.card {
  --avatar-size: 55px;
  display: grid;
  grid-template-columns: var(--avatar-size) 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 0 16px;

  &__avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 50%;
    justify-self: center;
  }

  &__id {
    grid-area: 2 / 2 / 3 / 3;
  }

  &__name {
    grid-area: 1 / 2 / 2 / 3;
  }

  &__id,
  &__name {
    font-weight: 600;

    span {
      font-weight: normal;
      user-select: none;
      opacity: 0.6;
    }
  }
}
